// Mixins Here

.signup-btn(@bg-color: black, @width:100px, @font-color:white){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @bg-color;
    cursor: pointer;
    width: @width;
    height: 35px;
    font-size: 1.9rem;
    border-radius: 5px;
    color:@font-color;
}