// Navigation code here

h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

a {
    font-size: 1.7rem;
    text-decoration: none;
    color: black;
}

.linkscontainer {
    .center();
}

.links {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 10px;

    @media @phone {
        width: 75%;
    }
}

.main-header {
    display: flex;
    justify-content: center;
    max-width: 800px;
    .width();
    margin: 0 auto;  
    
    img {
    border-radius: 5px;
    .width();
}
}

.nav {
    background-color: #F6F6F6;
}


